* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antiliased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 1.6rem;
}

main {
    background: url(/img/Background.jpg) no-repeat center/cover;

    min-height: 100vh;

    display: grid;
    place-content: center;

    padding: 6.4rem;

    gap: 2.4rem;
}

.weather-now::before {
    content: "";
    width: 17.6rem;
    height: 17.6rem;

    background: url(/img/weather.svg) no-repeat;

    position: absolute;
    /*or display: block*/
    top: -5.6rem;
    left: -5.6rem;

}

.weather-now {
    background: url(/img/Temperature-Now.jpg);

    /* width: 48rem;
    height: 48rem; */
    border-radius: 1rem;

    position: relative;

    display: grid;
    grid-template-rows: max-content 1fr max-content;


}

/*----------------------------------*/
.localization {
    justify-self: end;

    padding: 3.2rem 3.2rem 0;

    display: flex;
    align-items: center;
    gap: 0.4rem;

}

.localization strong {

    font-size: 14px;
    color: #c2bff4;
}

.temperature {
    /* text-align: center; */
    margin: 6rem;
    font-weight: 700;

    display: flex;
    justify-content: center;

}

.temperature .degrees {
    color: white;
    text-align: center;
    font-size: 8.8rem;



    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

.temperature .degrees .degrees-max-and-min {
    font-size: 2rem;


}

.temperature .degrees .degrees-max-and-min span {
    color: #c2bff4;
}

.celsius {
    font-size: 2.4rem;
    color: #dad8f7;

    margin-top: 1.5rem;
}

/*------------------------------------*/
.statistics {
    padding: 1.2rem;

    display: flex;
    gap: 0.8rem;

}

.stats {
    flex: 1;

    padding: 1.2rem 1.6rem;
    background: rgba(102, 96, 200, 0.6);
    border-radius: 0.6rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.stats .infor {
    color: #e7e6fb;
}

.stats .infor h5 span,
.stats .infor p {
    font-size: 1.2rem;
}

.stats .infor h5 {
    font-size: 1.8rem;

    display: flex;
    align-items: baseline;
    gap: 0.4rem;

}

/*------------------------------------*/
.air-quality {
    font-weight: 700;
    text-align: center;
}

.air-quality .good {
    margin-top: 3.2rem;

    font-size: 1.8rem;
    color: #87ebcd;

}

.air-quality>.number {
    margin-top: 0.4rem;
    font-size: 4rem;

    color: #e7e6fb;
}

.air-quality .infor {
    display: flex;
    align-items: center;

    margin-top: 3.2rem;

    padding: 0 1.6rem 1.6rem;

}

.air-quality .infor .number {
    flex: 1;
}

.air-quality .infor p {
    color: #87ebcd;
    font-size: 1.4rem;
}

.air-quality .infor small {
    font-size: 1.2rem;
}




h2.title {
    /*colocou junto h2.title, mas quando separado n funciona*/
    color: #dad8f7;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    margin: 3.2rem;
}

/*-------------------------------------*/
.sunset-time-graph-space {

    margin-top: 4rem;
    position: relative;
    height: 11rem;

}

.sunset-graph {
    margin: auto;

    width: 21.6rem;
    height: 21.6rem;

}

.sunset-graph::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    
    position: absolute;
    background: #f6c833;

    border-radius: 60%;


}

/*------------------------------------*/

section {
    background: #6d67d0;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
}